<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td style="width: 200px">aa</td>
            <td style="width: 200px">bb</td>
            <td style="width: 200px">cc</td>
            <td style="width: 200px">dd</td>
            <td style="width: 200px">ee</td>
            <td style="width: 200px">ff</td>
            <td style="width: 200px">gg</td>
        </tr>
        <tr>
            <td style="width: 200px">aa</td>
            <td style="width: 200px">bb</td>
            <td style="width: 200px">cc</td>
            <td style="width: 200px">dd</td>
            <td style="width: 200px">ee</td>
            <td style="width: 200px">ff</td>
            <td style="width: 200px">gg</td>
        </tr>
    </table>
</body>
</html>